<div class="box">
  <h1>Hay {{arrayPersonas.length}} personas registradas</h1>
  <div class="container-card">
    <mat-card class="card" *ngFor="let persona of arrayPersonas">
      <mat-card-header>
        <mat-card-title>{{persona.nombre}} {{persona.apellidos}}</mat-card-title>
        <mat-card-subtitle>{{persona.empresa}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{persona.telefono}}</p>
        <p>{{persona.email}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
